.sidebar-main{
    height:calc(100vh - 53px);
    background-color:lavender;
}
.sidebar-text li {
    padding: 23px 22px 24px 17px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }
  .sidebar-main img{
      width:24px;
      height:auto;
      margin:12px;
  }
  .bg-circle{
      background-color: aliceblue;
      border-radius: 50%;
      width:50px;
  }
  .help-fixed{
      position: fixed;
      bottom:10px;

  }